<h2>Editar Prazo de Entrega</h2>

<% if(@deadline.errors.any?) %>
  <p>Verifique os erros: </p>
  <ul>
    <% @deadline.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>