<h2>Modalidades de Transporte</h2>

<% if @transport_modes.empty? %>
  <p>Nenhuma Modalidade de Transporte cadastrada.</p>
<% end %>

<%= link_to('Cadastrar Nova Modalidade', new_transport_mode_path)%>

<% @transport_modes.each do |mode| %>
  <dl>
    <dt><strong><%= link_to mode.name, mode.name %></strong></dt>
    <dd>
      Distância mínima: <%= mode.minimum_distance %>m
    </dd>
    <dd>
      Distância máxima: <%= mode.maximum_distance %>m
    </dd>
  </dl>
<% end %>