<h2>Editar Preço por Peso</h2>

<% if(@weight_price.errors.any?) %>
  <p>Verifique os erros: </p>
  <ul>
    <% @weight_price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>