<h2>Editar <%= TransportMode.model_name.human %></h2>

<% if(@transport_mode.errors.any?) %>
  <p>Verifique os erros: </p>
  <ul>
    <% @transport_mode.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>


<%= render 'form' %>

