<h2>Editar Preço por Distância</h2>

<% if(@distance_price.errors.any?) %>
  <p>Verifique os erros: </p>
  <ul>
    <% @distance_price.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= render 'form' %>