<h3>Tabelas de Preços por Distância</h3>
<br />

<table>
  <thead>
    <tr>
      <th>Intervalo   </th>
      <th>|   Taxa </th>
      <th>|   Modalidade de Transporte</th>
    </tr>
  </thead>
  <tbody>
    <% @distance_prices.each do |price| %>
      <tr>
        <td><%= price.initial_distance%>Km   -   <%= price.ending_distance%>Km</td> 
        <td>| <%= number_to_currency(price.price) %></td>
        <td>| <%= link_to price.transport_mode.name, price.transport_mode %></td>
      </tr>
    <% end %>
  </tbody>
</table>